@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Play:wght@400;700&family=Press+Start+2P&family=Staatliches&display=swap");
@import "tailwindcss";

@theme {
  --font-primary: "Staatliches", sans-serif;
  --font-weight: 400;
  --color-primary: #11041C;
  --color-secondary: #FF9742;
  --color-tertiary: #692CDF;
  --color-fourth: #201F3F;
  --color-fifth: #A39EED;
}