@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Play:wght@400;700&family=Press+Start+2P&family=Staatliches&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";

@theme {
  --font-primary: "Staatliches", sans-serif;
  --font-redhat: "Red Hat Display", sans-serif;
  --font-weight: 400;
  --color-primary: #F0C404;
  --color-secondary: #FF9742;
  --color-tertiary: #692CDF;
}